
:root{ 
     --cor-de-fundo: #EBECEE;


}
body{
 background-color: var(--cor-de-fundo);    
}
.cabeçalho__menu-hamburguer{
     width: 24px;
     height: 24;
     background-image: url(". ./img/menu.svg");
     display: inline-block;
}